
@{
    ViewData["Title"] = "Main";
}

<script type="text/javascript" src="./js/jstree.min.js" charset="utf-8"></script>
<script src="https://d3js.org/d3.v3.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/d3-context-menu.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/msdropdown/jquery.dd.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/nasca.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/nasca.nodeTree.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/nasca.dataFlow.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/nasca.utility.js" charset="utf-8"></script>

<div id="header">
    <div id="logoArea">
        <object id="logo" type="image/svg+xml" data="./images/nasca.svg"></object>
    </div>
    <div id="title">
        <h1>Nasca</h1>
    </div>
</div>
<div id="nodeList">
    <div id="jstree_demo_div"></div>
</div>